img{
    height: 580px;
    width: 600px;
    position: fixed;
    float: right;
    padding-left: 700px;
}

input{
    border: none;
    border-bottom-style: groove;
    display: inline-table
}
#heading1, #heading2, #heading3, #heading4, #heading5{
    font-weight: bold;
    font-size: 30px;
}
div article{
    padding: 20px;
}
button{
    display: inline;
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 18px;
    border: none;
    background-color: rgb(175,102,203);
}
input[name^="option"]{
    width: 20px;
    height: 20px;
}